<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Perfect World Games</title>
    <link rel="stylesheet" href="/public/normalize.css">
    <link rel="stylesheet" href="/public/msg.css">
    <link rel="stylesheet" href="/public/main.css">
</head>
<body>
<div class="header">
    <div class="content">
        <a href="/" class="logo">
            <img src="/public/logo.png" alt="">
        </a>
        <div class="header-links">
            <a target="_blank" href="http://www.pwrd-art.com/AboutStd.html">Know about us</a>
            <a target="_blank" href="http://www.pwrd-art.com/ContactStd.html">Contact us</a>
        </div>
    </div>
</div>

<div class="games">
    <div class="content">
        <form class="game-add-form">
            <div class="row">
                <div class="label">
                   Name
                </div>
                <input type="text" name="name">
            </div>
            <div class="row">
                <div class="label">
                    Description
                </div>
                <textarea id="desc" name="desc" ></textarea>
            </div>
            <div class="row">
                <div id="uploader">
                    <div id="fileList" class="uploader-list"></div>
                    <button type="button" id="filePicker">Choose a image</button>
                </div>
                <input type="hidden" id="cover" name="cover">
            </div>
            <div class="row">
                <div class="label">
                    Price
                </div>
                <input type="text" name="price">
            </div>
            <div class="row">
                <div class="label">
                    Size
                </div>
                <input type="text" name="Size">
            </div>
            <div class="row">
                <div class="label">
                    Language
                </div>
                <input type="text" name="language">
            </div>
            <div class="row">
                <div class="label">
                    Author
                </div>
                <input type="text" name="author">
            </div>
            <div class="row">
                <div class="label">
                    ISBN
                </div>
                <input type="text" name="isbn">
            </div>
            <div class="row">
                <div class="label">
                    Platform
                </div>
                <input type="text" name="publisher">
            </div>
            <button class="add-submit" type="button">Submit</button>
        </form>
    </div>
</div>
<script src="/public/jq.js"></script>
<script src="/public/uploader.js"></script>
<script src="/public/msg.js"></script>
<script src="/public/main.js">
</script>
<script>
    var uploader = WebUploader.create({
        auto: true,
        // 文件接收服务端。
        server: '/api/upload',
        pick: '#filePicker',
        accept: {
            title: 'Images',
            extensions: 'gif,jpg,jpeg,bmp,png',
            mimeTypes: 'image/*'
        }
    });
    uploader.on( 'fileQueued', function( file ) {
        var $li = $(
            '<div id="' + file.id + '" class="file-item thumbnail">' +
            '<img>' +
            '<div class="info">' + file.name + '</div>' +
            '</div>'
            ),
            $img = $li.find('img');

        var $list=$('#fileList');
        $list.append( $li );
        uploader.makeThumb( file, function( error, src ) {
            if ( error ) {
                $img.replaceWith('<span>不能预览</span>');
                return;
            }
            $img.attr( 'src', src );
        }, 100, 100 );
    });
    uploader.on('uploadSuccess',function (file,res){
        $('#cover').val(res.fileName)
    })
    $('.add-submit').click(function (){
        const data=$(this).closest('form').serialize();
        $.post('/api/game',data).then(res=>{
            Qmsg.success(`<i></i><span  style="line-height: 1.5">Item has been added</span>`, {
                html: true
            })
            setTimeout(() => {
                window.location.href = '/games';
            }, 1500)
        })
    })
</script>
</body>
</html>