<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Perfect World Games</title>
    <link rel="stylesheet" href="/public/normalize.css">
    <link rel="stylesheet" href="/public/msg.css">
    <link rel="stylesheet" href="/public/main.css">
</head>
<body>
<div class="reg">
    <div class="side"></div>
    <div class="reg-box">

        <div class="reg-form">
            <h3>Perfect World Games Depository</h3>
            <form action="/api/user">
                <div class="reg-row">
                    <input type="text" name="username" placeholder="Username">
                </div>
                <div class="reg-row">
                    <input type="text" name="email" placeholder="Email">
                </div>
                <div class="reg-row">
                    <input type="password" name="password" placeholder="Password">
                </div>
                <button type="button" class="submit">Sign Up</button>
            </form>
        </div>

    </div>
</div>
<script src="/public/jq.js"></script>
<script src="/public/msg.js"></script>
<script src="/public/main.js">
</script>
</body>
</html>