<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Perfect World Games</title>
    <link rel="stylesheet" href="/public/normalize.css">
    <link rel="stylesheet" href="/public/msg.css">
    <link rel="stylesheet" href="/public/main.css">
</head>
<body>
<div class="header">
    <div class="content">
        <a href="/" class="logo">
            <img src="/public/logo.png" alt="">
        </a>
        <div class="header-links">
            <a target="_blank" href="http://www.pwrd-art.com/AboutStd.html">Know about us</a>
            <a target="_blank" href="http://www.pwrd-art.com/ContactStd.html">Contact us</a>
        </div>
    </div>
</div>
<div class="login-box reg">
    <div class="login-side"></div>
    <form class="login-form" action="/api/user">
        <h3>Register A New Account</h3>
        <div class="row">
            <div class="label">Username</div>
            <input name="username" placeholder="Please enter username">
        </div>
        <div class="row">
            <div class="label">Email</div>
            <div class="email-op">
               <input name="email" id="email-input" type="text" placeholder="Please enter email address">
               <button type="button">Send</button>
            </div>
        </div>
        <div class="row">
            <div class="label">Verification Code</div>
            <input name="code" type="text" placeholder="Please Verification Code">
        </div>
        <div class="row">
            <div class="label">Password</div>
            <input name="password" type="password" placeholder="Please input a password">
        </div>
        <button type="button" class="submit">Register</button>
    </form>
</div>
<script src="/public/jq.js"></script>
<script src="/public/msg.js"></script>
<script src="/public/main.js">
</script>
</body>
</html>